/* Display setting */

/* Explicity state that the display should be flexible with rows and columns depending on the page size */
.display-flex { display: flex; }
.display-block { display: block; }
.display-none { display: none; }
.display-inline-block { display: inline-block; }

/* Settings for the use of flex */
.flex-row { flex-direction: row; }
.flex-column { flex-direction: column; }
.flex-wrap { flex-wrap: wrap; }
.flex-grow { flex-grow: 1; } /* Should grow when the page is widened */
.flex-shrink { flex-shrink: 1; }

/* Settings to align and justify the items/elements on the page */
.justify-content-between { justify-content: space-between; }
.justify-content-center { justify-content: center; } /* Centers the content in the element */
.justify-content-around { justify-content: space-around; }
.justify-content-space-evenly { justify-content: space-evenly; }
.justify-content-space-around { justify-content: space-around}
.justify-content-flex-start { justify-content: flex-start; } /* Default setting */
.justify-content-flex-end { justify-content: flex-end; }
.align-items-center { align-items: center; }
.align-items-left { align-items: left; }
.align-content-flex-end { align-content: flex-end; }
.align-self-stretch { align-self: stretch; }

