/* Style settings for the page layout */

/* Position settings */
.position-relative { position: relative !important; } 
.position-absolute { position: absolute !important; }
.overflow-hidden { overflow: hidden; }

/* Margin settings */
.mr-auto, .mx-auto { margin-right: auto; } /* Centers the margin outside of the div */
.ml-auto, .mx-auto { margin-left: auto; }

.m-6 { margin: var(--distance-6); } /* Equivalent to 1.5rem */
.m-15 { margin: var(--distance-15); } /* Equivalent to 1.5rem */

.mt-0, .my-0 { margin-top: var(--distance-0); } /* Equivalent to 0rem */
.mb-0, .my-0 { margin-bottom: var(--distance-0); }
.mt-1, .my-1 { margin-top: var(--distance-1); } /* Equivalent to .25rem */
.mb-1, .my-1 { margin-bottom: var(--distance-1); }
.mt-2, .my-2 { margin-top: var(--distance-2); } /* Equivalent to .5rem */
.mb-2, .my-2 { margin-bottom: var(--distance-2); }
.mt-3, .my-3 { margin-top: var(--distance-3); } /* Equivalent to .5rem */
.mb-3, .my-3 { margin-bottom: var(--distance-3); }
.mt-4, .my-4 { margin-top: var(--distance-4); } /* Equivalent to 1rem */
.mb-4, .my-4 { margin-bottom: var(--distance-4); }
.mt-6, .my-6 { margin-top: var(--distance-6); } /* Equivalent to 1.5rem */
.mb-6, .my-6 { margin-bottom: var(--distance-6); }
.mt-8, .my-8 { margin-top: var(--distance-8); } /* Equivalent to 2rem */
.mb-8, .my-8 { margin-bottom: var(--distance-8); }
.mt-10, .my-10 { margin-top: var(--distance-10); } /* Equivalent to 2.5rem */
.mb-10, .my-10 { margin-bottom: var(--distance-10); }
.mt-12, .my-12 { margin-top: var(--distance-12); } /* Equivalent to 3rem */
.mb-12, .my-12 { margin-bottom: var(--distance-12); }
.mt-15, .my-15 { margin-top: var(--distance-15); } /* Equivalent to 4rem */
.mb-15, .my-15 { margin-bottom: var(--distance-15); }

.mb-20, .my-20 { margin-bottom: var(--distance-20); }
.mt-20 { margin-top: var(--distance-20); }
.mt-24 { margin-top: var(--distance-24); }

.mr-1, .mx-1 { margin-right: var(--distance-1); } /* Equivalent to 1rem */
.ml-1, .mx-1 { margin-left: var(--distance-1); }
.mr-2, .mx-2 { margin-right: var(--distance-2); } /* Equivalent to 1rem */
.ml-2, .mx-2 { margin-left: var(--distance-2); }
.mr-3, .mx-3 { margin-right: var(--distance-3); } /* Equivalent to 1rem */
.ml-3, .mx-3 { margin-left: var(--distance-3); }
.mr-4, .mx-4 { margin-right: var(--distance-4); } /* Equivalent to 1rem */
.ml-4, .mx-4 { margin-left: var(--distance-4); }
.mr-6, .mx-6 { margin-right: var(--distance-6); } /* Equivalent to 1.5rem */
.ml-6, .mx-6 { margin-left: var(--distance-6); }
.mr-20 { margin-right: var(--distance-20); }
.ml-20 { margin-left: var(--distance-20); }

.mr-12, .mx-12 { margin-bottom: var(--distance-12); }
.mr-20, .mx-20 { margin-bottom: var(--distance-20); }

.r-0 { right: var(--distance-0); }
.l-0 { left: var(--distance-0); }
.t-0 { top: var(--distance-0); }
.b-0 { bottom: var(--distance-0);}

/* Padding settings. Reuse of variables for distance in base.css file */
.p-1 { padding: var(--distance-1); } 
.p-2 { padding: var(--distance-2); } 
.p-4 { padding: var(--distance-4); } 
.p-5 { padding: var(--distance-5); } 
.p-6 { padding: var(--distance-6); } 
.p-8 { padding: var(--distance-8); }
.p-12 { padding: var(--distance-12); }
.p-15 { padding: var(--distance-15); }

.product-card { max-width: 30%; max-height: 55%; }
.box-shadow { box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;}
.opacity { opacity: 25%; }
.product-transition { transition: all 300ms ease-out; }
.product-card:hover { 
  box-shadow: 0px 4px 12px var(--color-lightgrey);   
}

/* Width settings */
/* Set the max width for the page regardless how stretched it is */
.max-width { max-width: 192rem; } /* Equivalent to 1920 pixels */
.icon-width { width: 37.5rem; }
.searchbar-width { width: 36.5rem; }
.searchbar-input-width { width: 100%; }
.aside-width { flex-basis: 30rem; }

/* Height Settings */
.height-nav { height: 6rem; }
.height-footer { height: 20rem; }

/* Typography setting */
.text-decoration-none { text-decoration: none; }
.text-center { text-align: center; }
.text-uppercase { text-transform: uppercase; }
.text-bold { font-weight: bold; }

.text-size-xxs { font-size: var(--display-xxs); }
.text-size-xs { font-size: var(--display-xs); }
.text-size-sm { font-size: var(--display-sm); }
.text-size-md { font-size: var(--display-md); }
.text-size-lg { font-size: var(--display-lg); }
.text-size-xl { font-size: var(--display-xl); }
.text-size-xxl { font-size: var(--display-xxl); }

.lh-lg { line-height: var(--line-height-lg); }

.ls-spacing-sm { letter-spacing: var(--distance-1); }
.list-style-none { list-style: none; }
.no-white-space { white-space: nowrap; }
.text-overflow { text-overflow: ellipsis; }
.break-word-wrap { overflow-wrap: break-word; }

/* Border Settings */
.border-transparent { border: var(--border-transparent); }

.border-bottom { border-bottom: var(--border-xs-grey); }
/* .border-bottom-xs { border-bottom: var(--border-xs); } */

.border-xs-grey { border: var(--border-xs-grey); }
.border-xs-turquoise { border: var(--border-xs-turquoise); }
.border-xs-lightturquoise { border: var(--border-xs-lightturquoise); }

/* Border radius*/
.border-radius { border-radius: var(--border-radius-sm); }
.border-radius-nav { border-radius: 0rem, 0rem, .25rem, .25rem }
.border-radius-btn { border-radius: 0.2rem 0.25rem 0rem 0rem; }

/* Nav button settings */ 
.z-index { z-index: 11;  } /* Tried to use class for z-index but the sizing got wrong then */
.z-index button:focus + ul { opacity: 1; pointer-events: all; }
.no-list { opacity: 0; transition: all 0.4s ease; pointer-events: none; } 

/* Hover Effects */

.list-item:hover { 
  color: var(--color-orange);
  background-color: var(--color-lightturquoise);
  font-weight: bold;
}

.btn a i:hover { 
  background-color: var(--color-darkturquoise);
  color: var(--color-lightturquoise);
  border: var(--color-darkturquoise);
}

a:hover { 
  color: var(--color-orange); 
  font-weight: bold;
}

/* Figure Settings */
.icon-badge { 
  top: -1px;
  right: -6px;
  padding: var(--distance-0) var(--distance-3);
}

.icon-large { 
  padding: var(--distance-2) var(--distance-2);
}

.social-icon-size { 
  width: 3rem; 
  height: 3rem;
  justify-content: center;
  align-items: flex-end;
  align-content: bottom;
  font-size: var(--display-xl);
}

.social-icon-size-center { 
  width: 3rem; 
  height: 3rem;
  justify-content: center;
  align-items: center;
  align-content: bottom;
  font-size: var(--display-xl);
}

.soc-icon:hover { 
  background-color: var(--color-darkturquoise); 
}

.gradient-color { 
  color: transparent; 
  background: linear-gradient(var(--color-lightturquoise), var(--color-turquoise));
  -webkit-background-clip: text;
}

.circle { border-radius: 100%; }

.line-vertical { border-left: 0.1rem solid var(--color-turquoise); height: 5.75rem; }

/* Webkit Limit Content product info */
.webkit-line-clamp { -webkit-line-clamp: 3; }
.webkit-box-orient { -webkit-box-orient: vertical; }

/* Image Settings */
.img-size { max-width: 30%; max-height: 100%; }
.img-max-width { max-width: 100%; }
.creditcard-size { max-height: 50%; max-width: 50%; }

.heart { color: var(--color-lightgrey); }
.heart.red { color: red; }

.star { color: var(--color-lightgrey); }
.star.orange { color: var(--color-orange); }

.new-icon { 
  position: absolute;
  padding: var(--distance-2) var(--distance-2);
  background-color: var(--color-orange);
  font-weight: bold;
  font-size: var(--display-xxs);
  color: var(--color-light);  
  border: var(--border-xs-light); 
  text-transform: uppercase;
  margin-right: var(--distance-3);
  margin-left: var(--distance-3); 
  margin-top: var(--distance-4); 
}

.pointer { cursor: pointer; }
  