@media screen and (max-width: 50em) { /* 800px/16px = 50em */ 
    .phone-hidden-sm { display: none; }
    .display-block-sm { display: block; }
}

@media screen and (max-width: 43.75em) { /* 700px/16px = 43.75em */ 
    .contact-hidden-sm { display: none; }

    .icon-size-mq-sm { font-size: var(--display-sm); }
    .icon-badge-mq-sm { 
        top: -1px;
        right: -2px;
        padding: var(--distance-0) var(--distance-2);
      }
    .text-size-mq-sm { font-size: var(--display-xxs); }
    .searchbar-mt-mq { margin-top: var(--distance-4); }
}

@media screen and (max-width: 37.5em) { /* 600px/16px = 37.5em */ 
    .order-last { order: 1; }
    .search-mx-mq { margin-right: var(--distance-0); margin-left: var(--distance-0); }
    .margin-sm { margin-left: var(--distance-2); margin-right: var(--distance-2); }
}  

@media screen and (max-width: 25em) { /* 400px/16px = 25em */ 

    .width-sm { width: 150%; }
}  